# Python virtual environment
env/
venv/

# Git
.git/
.gitignore

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Local development files
*.log
test.json
monsters.json
creature.json
dnd_input.txt
parser.go
schema.txt

# IDE files
.vscode/
.idea/
.cursor/ 