services:
  mongo:
    image: mongo:latest
    container_name: dnd_mongo
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_DB_NAME}
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

  web:
    build: .
    container_name: dnd_web
    restart: always
    environment:
      - MONGO_USER=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_PASS=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_DB=${MONGO_DB_NAME}
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
    ports:
      - '5000:5000'
    volumes:
      - .:/app
    depends_on:
      - mongo

volumes:
  mongo_data:
